<html lang="en"> 
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
     <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <link href="/static/css/signin.css" rel="stylesheet">
     <title>Dashboard</title>
 </head>

 <!doctype html>
 <html lang="en" data-bs-theme="auto">
<head>
  <title>Clinic Management System</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>

 
     
 <!--Top divider-->
 <div class="container py-3">
   <header>
     <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
       <div class="fs-2 mb-3">
        <a href="/dashboard" class="text-decoration-none text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-capsule-pill" viewBox="0 0 16 16">
          <path d="M11.02 5.364a3 3 0 0 0-4.242-4.243L1.121 6.778a3 3 0 1 0 4.243 4.243l5.657-5.657Zm-6.413-.657 2.878-2.879a2 2 0 1 1 2.829 2.829L7.435 7.536zM12 8a4 4 0 1 1 0 8 4 4 0 0 1 0-8m-.5 1.042a3 3 0 0 0 0 5.917zm1 5.917a3 3 0 0 0 0-5.917z"></path>
        </svg>
        Clinic Management
        </a>
       </div>
 
       <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/profile">Profile</a>
         <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/history">Documents</a>
         <a class="py-2 link-body-emphasis text-decoration-none">Contact Us</a><div style="margin-left: 10px;"></div> 
         <form class="d-flex me-3" role="logout" action="/logout" method="POST">
          <button class="btn btn-outline-danger" type="submit">Logout</button>
        </form>
       </nav>
     </div>
 <!--End of top divider-->
 <h1 class="d-grid gap-2 d-sm-flex justify-content-sm-center">Meet The Team</h1><div style="margin-bottom: 50px;"></div> 
 <div class="col-lg-6 mx-auto">
    <ul class="list-unstyled justify-content-center">
        <li class="mb-4 d-flex justify-content-center"><a class="link-secondary text-decoration-none" href="#">Chasitty Ayala</a></li>
        <li class="mb-4 d-flex justify-content-center"><a class="link-secondary text-decoration-none" href="#">Joseph Kang</a></li>
        <li class="mb-4 d-flex justify-content-center"><a class="link-secondary text-decoration-none" href="#">Fabian Mcghee</a></li>
        <li class="mb-4 d-flex justify-content-center"><a class="link-secondary text-decoration-none" href="#">Marcio Amaral</a></li>
        <li class="mb-4 d-flex justify-content-center"><a class="link-secondary text-decoration-none" href="#">Edson Cano</a></li>
      </ul>


            </header>
        </div>
    </body>
</html>
 